// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #165aa8;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  .title {
    color: $title-color;
    position: absolute;
    top: 0;
    left: 2.2em;
    font-size: 1.4em;
    text-align: center;
  }

  ol, ul {
    margin: 0 5px;
    text-align: left;
    color: $label-color;
    position: absolute;
    top: 2.5em;
  }

  ul {
    color: #ffffff;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
    font-size: 15px;
  }

  .value {
    float: right;
    margin-left: 50px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .green {
    background-color: #44bb77;
    font-size: 15px;
  }
  .yellow {
    background-color: #44bb77;
    font-size: 15px;
  }
  .red {
    background-color: #ff5566;
    font-size: 15px;
  }
  .purple {
    background-color: #aa44ff;
    font-size: 15px;
  }
}
